@import url('dsystem.css');

@custom-media --mobile (width <= 700px);

html {
  display: flex;
  place-content: center;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  &[data-theme='dark'] {
    color-scheme: dark;
  }

  &[data-theme='light'] {
    --accent: var(--clrp-accent, #2fa25f);
    --accent-2: #CE5D97;
    --bg: #fffcf0;
    --fg: #000;
    --muted: #0000000d;
    --border: #00000040;

    color-scheme: light;
  }
}

body {
  padding: clamp(16px, 8vw, 32px);
  width: min(700px, 90%);
  border-inline: 1px solid var(--border);
}

strong {
  color: var(--accent);
}

/* stylelint-disable */
@media (prefers-reduced-motion: reduce) {
	* {
    transition: none !important;
	}
}
/* stylelint-enable */

@media (width <= 500px) {
  h2 {
    text-align: center;
  }
}

::view-transition-group(root) {
  animation-duration: 0.5s;
}

::view-transition-new(root) {
  animation-name: reveal-light;
  animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root),
  ::view-transition-new(root),
  ::view-transition-old(root) {
    animation: none;
    animation-fill-mode: both;
  }
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }

  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }

  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}
