---
import Layout from '@/layouts/Layout.astro'
import Nav from "@/components/Nav.astro"
import Header from "@/components/Header.astro"
import AboutMe from '@/components/AboutMe.astro'
import Experience from '@/components/Experience.astro'
import Projects from '@/components/Projects.astro'
import Tech from '@/components/Tech.astro'
import Footer from "@/components/Footer.astro"
import ButtonSeetings from "@/components/ButtonSettings.astro"
import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const locate = getI18N({ currentLocale });
---
<Layout
    title={locate.SEO_TITLE}
    description={locate.SEO_DESCRIPTION}
    lang={locate.SEO_LOCATE}
>
    <Nav />

    <section id="home">
        <Header />
    </section>

    <section id="section-about-me">
        <AboutMe />
    </section>

    <section id="experience">
        <Experience />
    </section>

    <section id="projects">
        <Projects />
    </section>

    <section class="section-tech">
        <Tech />
    </section>

    <Footer />

    <ButtonSeetings />

    <style>
        section:not(:first-of-type) {
            padding-top: 30px;
            margin-bottom: 2rem;
        }

        #home {
            padding-block: 6rem;
        }
    </style>
</Layout>