---
import Layout from '@/layouts/Layout.astro';
import Nav from "@/components/Nav.astro";
import Header from "@/components/Header.astro";
import AboutMe from '@/components/AboutMe.astro';
import Experience from '@/components/Experience.astro';
import Footer from "@/components/Footer.astro";
import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const locate = getI18N({ currentLocale });
---
<Layout
    title={locate.SEO_TITLE}
    description={locate.SEO_DESCRIPTION}
>
    <Nav />

    <section id="home">
        <Header />
    </section>

    <section id="section-about-me">
        <AboutMe />
    </section>

    <section id="experience">
        <Experience />
    </section>

    <section id="section-projects">
    </section>

    <section class="section-tech" id="other-tech">
    </section>

    <Footer />

    <style>
        section {
            padding-top: 25px;
        }
        #about-me span {
            font-size: 50px;
            margin-left: 5px;
            color: var(--green-dark);
        }
        #experience {
            margin-bottom: 110px;
        }
        #other-tech {
            margin-top: 80px;
        }
    </style>
</Layout>