---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";

import Nav from "@/components/Nav.astro";
import Header from "@/components/Header.astro";
import AboutMe from "@/components/AboutMe.astro";
import Projects from "@/components/Projects.astro";
import Tech from "@/components/Tech.astro";
import Experience from "@/components/Experience.astro";
---

<Layout
    title="FuSoraS | Portafolio"
    description="Mi portafolio de desarrollo y programación web"
>
    <Nav />
    <section id="home">
        <Header />
    </section>

    <section id="section-about-me">
        <AboutMe />
    </section>

    <section id="experience">
        <Experience />
    </section>

    <section id="section-projects">
        <Projects />
    </section>

    <section class="section-tech" id="other-tech">
        <Tech />
    </section>

    <footer>2025</footer>

    <style is:global>
        html {
            scroll-behavior: smooth;
        }
        h2 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        footer {
            text-align: center;
            padding: 50px;
        }
        strong {
            color: var(--green);
        }
    </style>
    <style>
        /* All sections */
        section {
            padding-top: 25px;
        }

        #about-me span {
            font-size: 50px;
            margin-left: 5px;
            color: var(--green-dark);
        }
        #experience {
            margin-bottom: 110px;
        }
        #other-tech {
            margin-top: 80px;
        }
    </style>

    <script is:inline>
        const section = document.querySelectorAll("section");
        const navLinks = document.querySelectorAll("nav a");
        window.onscroll = () => {
            section.forEach((sect) => {
                let top = window.scrollY;
                let offset = sect.offsetTop;
                let height = sect.offsetHeight;
                let id = sect.getAttribute("id");

                if (top >= offset && top < offset + height) {
                    navLinks.forEach((links) => {
                        links.classList.remove("active");
                        document
                            .querySelector("nav a[href*=" + id + "]")
                            .classList.add("active");
                    });
                }
            });
        };
    </script>
</Layout>
