<h2 id="about-me">Sobre mí<span>.</span></h2>
<p class="content-m">
    +2 años de formación como Técnico en Análisis de <strong>Programación</strong>. Experiencia en desarrollo <strong>web colaborativo</strong>, aprendiendo
    tecnologías modernas y aplicando buenas prácticas tanto en los sistemas
    operativos Windows y GNU/Linux.
</p>
<p class="content-m">
    Como parte de mi interés en contribuir a proyectos open source, realicé una
    contribución a la documentación de "is-a.dev" creando un fork. Corregí las
    rutas de las imágenes para asegurar su correcta visualización y envié un
    Pull Request (PR) con los cambios.
</p>

<style>
    #about-me {
        margin-top: 128px;
    }
    .content-m {
        margin-bottom: 30px;
    }
</style>
