---
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<button popovertarget="settings" aria-label="Abrir configuraciónes">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-settings" viewBox="0 0 24 24"><path fill="none" stroke="none" d="M0 0h24v24H0z"/><path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066-2.573c-.94-1.543.826-3.31 2.37-2.37 1 .608 2.296.07 2.572-1.065"/><path d="M9 12a3 3 0 1 0 6 0 3 3 0 0 0-6 0"/></svg>
</button>

<section popover id="settings">
    <div class="selector-theme-toggle">
        <p>Tema: </p>
       <ThemeToggle />
    </div>

    <div class="line"></div>

    <div class="selector-accent">
        <input type="color" name="color" value="#29a35c" class="color-picker-accent">
        <button class="reset-color" aria-label="Restablecer color de acento" title="Restablecer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-rotate-clockwise" viewBox="0 0 24 24"><path fill="none" stroke="none" d="M0 0h24v24H0z"/><path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5"/></svg>
        </button>
    </div>
</section>
<style>
    button[popovertarget] {
        position: fixed;
        bottom: 10px;
        right: 10px;
        border-radius: 100%;
        border: solid 2px var(--accent);
        padding: .8em;
        background-color: var(--clr-base-secondary);
        display: flex;

        &:active {
            background-color: var(--accent);
            color: var(--clr-base);
        }

        & svg {
            --size: 25px;
            
            width: var(--size);
            height: var(--size);
        }
    }

    .selector-theme-toggle {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;

        & p {
            margin: 0;
        }
    }

    .line {
        border: solid 1px var(--clr-text-primary)
    }

    section:popover-open {
        display: grid;
        inset: unset;
        bottom: 65px;
        right: 5px;
        padding: 1em;
        background-color: var(--clr-base);
        border: solid 2px var(--clr-base-secondary);
        border-radius: 12px;
        gap: 1em;

        & .selector-accent {
            display: flex;
            align-items: center;
            gap: 10px;

            & input {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }

        & .reset-color {
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            &:active {
                scale: 0.95;
            }
        }
    }
</style>

<script is:inline>
    const root = document.documentElement;

    const pickerColorAccent = document.querySelector(".color-picker-accent")
    const resetColor = document.querySelector(".reset-color")
    const initColor = pickerColorAccent?.getAttribute("value")

    console.log(initColor)

    const colorAccentOrigin = getComputedStyle(root).getPropertyValue("--accent").trim()

    pickerColorAccent?.addEventListener("input", (e) => {
        pickerColorAccent.setAttribute("value", e.target.value)
        root.style.setProperty("--accent", e.target.value)
    }, { passive: true })

    resetColor?.addEventListener("click", () => {
        pickerColorAccent.setAttribute("value", initColor)
        pickerColorAccent.value = initColor;
        root.style.setProperty("--accent", colorAccentOrigin)
    }, { passive: true })
</script>