<button popovertarget="settings">
    Boton
</button>

<section popover id="settings">
    <input type="color" name="color" value="#ffffff" class="color-picker">
</section>
<style>
    button {
        position: fixed;
        bottom: 5px;
        right: 5px;
    }
</style>

<script is:inline>
    const input = document.querySelector(".color-picker")

</script>