---
const {image, linkWeb } = Astro.props;
---
<article class="ar-main">
    <img class="ar-main-cover" src={image} alt="porjectos">
    <div>
        <slot />
        <a href={linkWeb} class="ar-a" rel="noreferrer noopener" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
            Demo
        </a>
    </div>
</article>

<style>
    .ar-main {
        border: 2px solid light-dark(#333,#fff);
        border-radius: 15px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    .ar-main-cover {
        height: 200px;
        width: 100%;
        margin: auto;
        object-fit: cover;
    }
    .ar-a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        background-color: light-dark(#a1249b,#a1249b);
        text-decoration: none;
        color: light-dark(#fff,#fff);
        border-radius: 10px;
        font-weight: bold;
        padding: 10px 15px;
        box-sizing: border-box;

        transition: background-color .3s;
        margin-bottom: 10px;
    }
    .ar-a:hover {
        background-color: light-dark(#cb24c3,#691465);
    }
    div {
        padding: 20px;
    }
</style>