---
const { linkWeb, linkRepo } = Astro.props;
---
<article class="ar-main">
    <slot name="image" />
    <div class="content">
        <slot />
        <div class="links-container">
            { linkWeb ? <a href={linkWeb} class="ar-a first-button" rel="noreferrer noopener" target="_blank">Sitio web</a> : null}
            <a href={linkRepo} class="ar-a second-button" rel="noreferrer noopener" target="_blank">Código</a>
        </div>
    </div>
</article>

<style>
    .ar-main {
        border: 2px solid light-dark(#333,#fff);
        border-radius: 15px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    .ar-a {
        display: inline-block;
        background-color: light-dark(#237746,#2FA35F);
        text-decoration: none;
        color: light-dark(#fff,#fff);
        font-weight: bold;
        padding: 10px 15px;
        box-sizing: border-box;
        margin-bottom: 20px;

        transition: background-color .3s;

        &:active {
            scale: 0.95;
        }
        &:only-child {
            margin-bottom: 0;
        }
    }

    .first-button {
        border-radius: 10px;

        &:hover {
            background-color: light-dark(#43c278ad,#2fa35fad);
        }
    }
    .second-button {
        color: light-dark(#333,#fff);
        background-color: initial;
    }
    .content {
        padding: 20px;
    }
    .links-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
</style>