---
const { linkWeb, linkRepo, linkYt } = Astro.props;
---
<article class="ar-main">
    <slot name="image" />
    <div class="content">
        <slot />
        <div class="links-container">
            {linkWeb && <a href={linkWeb} class="ar-a first-button" rel="noreferrer noopener" target="_blank">Sitio web</a>}
            {linkRepo && <a href={linkRepo} class="ar-a second-button" rel="noreferrer noopener" target="_blank">Código</a>}
            {linkYt && <a href={linkYt} class="ar-a demo" rel="noreferrer noopener" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
Demo</a>}
        </div>
    </div>
</article>

<style>
    .ar-main {
        border: 2px solid light-dark(#333,#fff);
        border-radius: 15px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        transition: box-shadow .3s;
        background-color: light-dark(#ededed,#1a1a1a);

        &:hover {
            box-shadow: 0 10px 30px light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
        }

        & .content {
            padding: 20px 20px 25px 20px;

            & .links-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    .ar-a {
        display: inline-block;
        background-color: light-dark(#237746,#2FA35F);
        text-decoration: none;
        color: light-dark(#fff,#fff);
        font-weight: bold;
        padding: 10px 15px;
        box-sizing: border-box;

        transition: background-color .3s;

        &:active {
            scale: 0.95;
        }

        &.demo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            width: 100%;

            background-color: light-dark(#a1249b,#a1249b);
            text-decoration: none;
            color: light-dark(#fff,#fff);
            border-radius: 10px;
            font-weight: bold;
            padding: 10px 15px;
            box-sizing: border-box;

            transition: background-color .3s;

            &:hover {
                background-color: light-dark(#cb24c3,#691465);
            }
            &:active {
                scale: 0.95;
            }
        }
        &.first-button {
            border-radius: 10px;

            &:hover {
                background-color: light-dark(#43c278ad,#2fa35fad);
            }
        }
        &.second-button {
            color: light-dark(#333,#fff);
            background-color: initial;
        }
    }
</style>