---
import CardEducation from "@/components/CardEducation.astro"
import IconsWork from "@/components/icons/IconsWork.astro";
import IconEducation from "@/components/icons/IconEducation.astro";
---
<h2>Formación y experiencia</h2>
<CardEducation
    icon={IconsWork}
    title="Soporte técnico"
    date="2025 Enero - 2025 Abril"
    content="Instalación de sistemas operativos, gestión de cableado de red y mantenimiento básico de equipos informáticos."
/>
<CardEducation
    icon={IconEducation}
    title="Analista Programador"
    date="2023 - 2025"
    content="Conocimiento en bases de datos MySQL, desarrollo web y programación en Java con orientación a objetos. Conocimientos en diversos sistemas operativos e inglés técnico."
/>