---
import HeaderIcon from "./HeaderIcon.astro";

import githubDark from "../assets/github-dark.svg";
import linkedin from "../assets/linkedin.svg";
import IconMail from "../components/icons/mail.astro";
---
<header class="header">
    <h1 class="header-h1">Front-end Developer</h1>
    <p class="header-p">
        Soy un apasionado por la tecnología, especializado en
        <strong>web desarrollando</strong> desde
        <strong>Gnu-Linux</strong>.
    </p>
</header>
<section class="sc-btn">
    <HeaderIcon icon={linkedin.src} href="https://www.linkedin.com/in/fusoras" className="btn-a">
        Linkedin
    </HeaderIcon>
    <HeaderIcon icon={githubDark.src} href="https://github.com/FuSoraS" clasName="btn-a">
        Github
    </HeaderIcon>

    <button class="btn-a">
        <IconMail class="mail" />
    </button>
</section>

<style>
    :root {
        --size-border: 5px solid light-dark(#333, #fff);
    }
    .header-h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 100px;
        font-size: max(37px, 90%);
        color: light-dark(rgb(44, 61, 44), rgb(180, 218, 187));
    }
    .header-p {
        text-wrap: pretty;
        margin: auto;
        margin-bottom: 32px;
        width: min(450px, 90%);
    }
    .header-p strong {
        color: var(--green);
    }
    .sc-btn {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
    .btn-a .mail {
        color: #fff;
    }
</style>
