---
const { href } = Astro.props
---
<a
    class="btn-a"
    href={href}
    rel="noreferrer noopener"
    target="_blank">
    <slot />
</a>

<style is:global>
    .btn-a {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;

        text-decoration: none;
        color: light-dark(#333, #fff);
        background-color: light-dark(#fff,#252525);
        font-weight: bold;
        border: 2px solid light-dark(var(--green-dark), #fff);
        padding: 12px 10px;
        border-radius: 8px;
        transition: border 0.1s ease-in-out;
        gap: 0.5rem;
        max-height: 2.5rem;
        transition: background-color 0.3s ease-in-out;
    }
    .btn-a:hover {
        background-color: var(--green-dark);
    }
</style>