---
import githubDark from '../assets/github-dark.svg';
import linkedin from '../assets/linkedin.svg';
---
<h1>Sofware Developer</h1>
<p class="header-p">Soy <strong>desarrollador de software</strong> y <strong>front-end</strong>, especializado en la creación de sitios web eficientes.</p>
<div>
    <a href="https://www.linkedin.com/in/fusoras" rel="noreferrer noopener" target="_blank"><img src={linkedin.src} alt="linkedin"> Linkedin</a>
    <a href="https://github.com/FuSoraS" rel="noreferrer noopener" target="_blank"><img src={githubDark.src} alt="github"> Github</a>
</div>
<style>
    :root {
        --size-border: 5px solid light-dark(#333, #fff);
    }
    h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 100px;
        font-size: max(37px, 90%);
        color: light-dark(rgb(44, 61, 44), rgb(180, 218, 187));
    }
    .header-p {
        text-wrap: pretty;
        margin: auto;
        margin-bottom: 32px;
        width: min(450px, 90%);
    }
    .header-p strong {
        color: var(--green);
    }

    div {
        display: flex;
        justify-content: center;
        gap: 10px;
        
    }
    a {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;

        text-decoration: none;
        color: light-dark(#fff, #fff);
        background-color: #252525;
        font-weight: bold;
        margin-bottom: 120px;
        border: 2px solid light-dark(var(--green-dark), #fff);
        padding: 12px 10px;
        border-radius: 8px;
        transition: border 0.1s ease-in-out;
        gap: .5rem;
        max-height: 2.5rem;
        transition: background-color .3s ease-in-out;
    }
    a:hover {
        background-color: var(--green-dark);
    }
    img {
        width: 22px;
    }
</style>