---
import { ROUTES } from "@/config";

import HeaderIcon from "@/components/HeaderIcon.astro";

import IconLinkedin from "@/components/icons/Linkedin.astro";
import IconMail from "@/components/icons/Mail.astro";
import IconGithub from "@/components/icons/Github.astro";
import BtnCopy from "@/components/BtnCopy.astro";
---
<header class="header">
    <h1 class="header-h1">Front-end Developer</h1>
    <p class="header-p">
        Soy un apasionado por la tecnología, especializado en
        <strong>web</strong>, desarrollando desde
        <strong>Gnu-Linux</strong>.
    </p>
</header>
<section class="sc-btn">
    <HeaderIcon href="https://www.linkedin.com/in/fusoras">
        <IconLinkedin class="icon" priority />
        Linkedin
    </HeaderIcon>
    <HeaderIcon href={ROUTES.REPOSITORY}>
        <IconGithub class="icon" priority />
        Github
    </HeaderIcon>
</section>

<section class="sc-mail">
    <IconMail class="icon-mail" />
    <BtnCopy />
</section>
<style>
    :root {
        --size-border: 5px solid light-dark(#333, #fff);
    }
    .header-h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 100px;
        font-size: max(37px, 90%);
        color: light-dark(rgb(44, 61, 44), rgb(180, 218, 187));
    }
    .header-p {
        text-wrap: pretty;
        margin: auto;
        margin-bottom: 32px;
        width: min(450px, 90%);
    }
    .header-p strong {
        color: var(--green);
    }
    .sc-btn {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }
    .sc-mail {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 20px;
    }
    .icon {
        color: light-dark(#333, #fff);
        width: 22px;
        height: 22px;
        aspect-ratio: 22 / 22;
    }
    .icon-mail {
        width: 25px;
        height: 25px;
    }
</style>
