<nav>
    <a href="#">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
</nav>
<style>
    nav {
        display: flex;
        justify-content: center;
        margin: auto;

        position: sticky;
        top: 0;
        margin-top: 20px;
        margin-bottom: 25px;
        background-color: #4e4e4e;
        width: fit-content;
        padding: 0 20px;
        border-radius: 15px;
        border-bottom: 2px solid light-dark(#353535,#fff);
        border-right: 2px solid light-dark(#313131,#fff);
        font-size: 16px;
        animation: animate-header linear both;

        a {
            margin: 10px;
            text-decoration: none;
            color: var(--color-link); 
            transition: color 0.2s ease-in-out;
        }
        a:hover {
            color: var(--green-dark);
        }
    }
    @keyframes animate-header {
            to {
                background-color: rgba(255, 255, 255, 0.185);
                backdrop-filter: blur(4px);
            }
        }
</style>