---
const { currentLocale } = Astro
import { getI18N } from "@/i18n/index"
const locate = getI18N({ currentLocale });

import ThemeToggle from "@/components/ThemeToggle.astro";
---
<nav>
    <a class="active" href="#home">{locate.NAV_HOME}</a>
    <a href="#experience">{locate.NAV_EXPERIENCE}</a>
    <a href="#section-projects">{locate.NAV_PROJECTS}</a>
    <div class="line"></div>
    <ThemeToggle />
</nav>
<style>
    nav {
        display: flex;
        place-items: center;
        place-content: center;
        flex-wrap: wrap;

        margin: auto;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--clr-base-secondary);
        height: auto;
        width: fit-content;
        padding: 12px 20px;
        border-radius: 15px 3px 15px 3px;
        border-bottom: 2px solid var(--clr-surface);
        border-right: 2px solid var(--clr-surface);
        font-size: 1rem;
        animation: animate-header linear both;
        animation-timeline: scroll(root);
        animation-range: 0 200px;
        font-weight: bold;
        gap: 15px;

        a {
            transition: color 0.2s ease-in-out;
        }

        .active,
        a:hover {
            color: var(--accent);
        }

        & .line {
            height: 30px;
            width: 2px;
            background-color: var(--clr-surface);
            border-radius: 2px;
        }
    }
    @keyframes animate-header {
        to {
            background-color: hsl(from var(--clr-base) h s l / 60%);
            backdrop-filter: blur(4px);
            border-radius: 0 3px 15px 3px;
        }
    }
</style>
