---
import CardTech from "@/components/CardTech.astro";
import IconPodman from "@/components/icons/IconPodman.astro";
import IconDebian from "@/components/icons/IconDebian.astro";
import IconOllama from "@/components/icons/IconOllama.astro";
import IconGit from "@/components/icons/IconGit.astro";
import IconGiHub from "@/components/icons/IconGithub.astro";
import IconLinux from "@/components/icons/IconLinux.astro";
import IconBun from "@/components/icons/IconBun.astro";
import IconNode from "@/components/icons/IconNode.astro";
import IconMarkdown from "@/components/icons/IconMarkdown.astro";
import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const locate = getI18N({ currentLocale });
---

<h2>{locate.OTHER_TECH_TITLE}</h2>

<div class="tech-card-container">
    <CardTech title="Linux">
        <IconLinux/>
    </CardTech>
    <CardTech title="Debian">
        <IconDebian/>
    </CardTech>
    <CardTech title="Podman">
        <IconPodman/>
    </CardTech>
    <CardTech title="Ollama">
        <IconOllama/>
    </CardTech>
    <CardTech title="Git">
        <IconGit/>
    </CardTech>
    <CardTech title="GitHub">
        <IconGiHub/>
    </CardTech>
    <CardTech title="Node.js">
        <IconNode />
    </CardTech>
    <CardTech title="Bun">
        <IconBun/>
    </CardTech>
    <CardTech title="Markdown">
        <IconMarkdown />
    </CardTech>
</div>
<style>
    h2 {
        margin-bottom: 2rem;
    }
    .tech-card-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    svg {
        height: 100%;
        width: 100%;
    }
</style>
