---
import CardTechnologies from "@/components/CardTechnologies.astro";
import IconPodman from "@/components/icons/IconPodman.astro";
import IconDebian from "@/components/icons/Debian.astro";
import IconOllama from "@/components/icons/Ollama.astro";
import IconGit from "@/components/icons/Git.astro";
import IconGiHub from "@/components/icons/Github.astro";
---

<h2>Otras tecnologías</h2>

<div class="tech-card-container">
    <CardTechnologies title="Podman">
        <IconPodman class="tech-card-svg" />
    </CardTechnologies>
    <CardTechnologies title="Debian">
        <IconDebian class="tech-card-svg" />
    </CardTechnologies>
    <CardTechnologies title="Ollama">
        <IconOllama class="tech-card-svg" />
    </CardTechnologies>
    <CardTechnologies title="Git">
        <IconGit class="tech-card-svg" />
    </CardTechnologies>
    <CardTechnologies title="GitHub">
        <IconGiHub class="tech-card-svg" />
    </CardTechnologies>
</div>
<style>
    h2 {
        margin-bottom: 2rem;
    }
    .tech-card-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .tech-card-svg {
        height: 100%;
        width: 100%;
    }
</style>
