---
import CardTech from "@/components/CardTech.astro";
import IconPodman from "@/components/icons/IconPodman.astro";
import IconDebian from "@/components/icons/Debian.astro";
import IconOllama from "@/components/icons/Ollama.astro";
import IconGit from "@/components/icons/Git.astro";
import IconGiHub from "@/components/icons/Github.astro";
import IconLinux from "@/components/icons/Linux.astro";
import IconBun from "@/components/icons/IconBun.astro";
---

<h2>Otras tecnologías</h2>

<div class="tech-card-container">
    <CardTech title="Linux">
        <IconLinux/>
    </CardTech>
    <CardTech title="Debian">
        <IconDebian/>
    </CardTech>
    <CardTech title="Podman">
        <IconPodman/>
    </CardTech>
    <CardTech title="Ollama">
        <IconOllama/>
    </CardTech>
    <CardTech title="Git">
        <IconGit/>
    </CardTech>
    <CardTech title="GitHub">
        <IconGiHub/>
    </CardTech>
    <CardTech title="Bun">
        <IconBun/>
    </CardTech>
</div>
<style>
    h2 {
        margin-bottom: 2rem;
    }
    .tech-card-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    svg {
        height: 100%;
        width: 100%;
    }
</style>
