---
import { ROUTES } from "@/config";
import en from "@/i18n/en.json";
import HeaderIcon from "@/components/HeaderIcon.astro";

import IconLinkedin from "@/components/icons/IconLinkedin.astro";
import IconMail from "@/components/icons/IconMail.astro";
import IconGithub from "@/components/icons/IconGithub.astro";
import BtnCopy from "@/components/BtnCopy.astro";
---
<header>
    <h1 translate="no">Front-end Developer</h1>
    <p>
        {en.HEADER_PARAGRAPH_1}
        <strong>{en.HEADER_PARAGRAPH_2}</strong>, {en.HEADER_PARAGRAPH_3}
    </p>
</header>
<section class="sc-btn">
    <HeaderIcon href="https://www.linkedin.com/in/fusoras">
        <IconLinkedin />
        Linkedin
    </HeaderIcon>
    <HeaderIcon href={ROUTES.REPOSITORY}>
        <IconGithub />
        Github
    </HeaderIcon>
</section>

<section class="sc-mail">
    <IconMail />
    <BtnCopy />
</section>
<style>
    header {
        & h1 {
            text-align: center;
            font-weight: bold;
            margin-top: 100px;
            font-size: max(37px, 90%);
            color: light-dark(rgb(78 143 78), rgb(180, 218, 187));
        }
        & p {
            width: min(450px, 90%);
            text-wrap: pretty;
            margin: auto;
            margin-bottom: 32px;
        }
    }
    .sc-btn {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;

        & svg {
            color: var(--svg-color);
            width: 22px;
            height: 22px;
            aspect-ratio: 22 / 22;
        }
    }
    .sc-mail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        margin-top: 20px;

        & svg {
            color: var(--svg-color);
            width: 25px;
            height: 25px;
        }
    }

</style>
