---
import { ROUTES } from '@/config';
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="google-site-verification" content="l0My55aihzJm_JtopsqJ5AvG-_KkYURzqQy3B03_UUE" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="FuSoraS"/>
		<meta name="twitter:title" content="FuSoraS - Portafolio"/>
		<meta name="twitter:description" content="Desarrollo web, Fron-end, Soporte tecnico"/>

		<meta property="og:title" content="FuSoraS - Portafolio">
		<meta property="og:image" content={`${ROUTES.HOSTNAME}/og-image.jpg`}>
		<meta property="og:description" content="Desarrollo web, Fron-end, Soporte tecnico">
		<meta property="og:url" content={ROUTES.HOSTNAME}/>
		<meta property="og:locale" content="es_ES" />

		<meta name="description" content={`${description}`}>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--h2-m: 50px;
		--color-link: light-dark(#333, #fff);
		--green: rgb(81 181 103);
		--green-dark: rgb(68, 158, 87);
		--font-content: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial, sans-serif;
	}
	html,
	body {
		margin: 0 auto;
		width: min(700px, 90%);
		font-family: var(--font-content);
		background-color: light-dark(#f5f5f5, #1a1a1a);
	}
</style>
