---
import { ROUTES } from '@/config';
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="google-site-verification" content="l0My55aihzJm_JtopsqJ5AvG-_KkYURzqQy3B03_UUE" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="FuSoraS"/>
		<meta name="twitter:title" content="FuSoraS - Portafolio"/>
		<meta name="twitter:description" content="Desarrollo web, Fron-end, Soporte tecnico"/>

		<meta property="og:title" content="FuSoraS - Portafolio">
		<meta property="og:image" content={`${ROUTES.HOSTNAME}/og-image.jpg`}>
		<meta property="og:description" content="Desarrollo web, Fron-end, Soporte tecnico">
		<meta property="og:url" content={ROUTES.HOSTNAME}/>
		<meta property="og:locale" content="es_ES" />

		<meta name="description" content={`${description}`}>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-link: light-dark(#333, #fff);
		--green: rgb(81 181 103);
		--green-dark: rgb(68, 158, 87);
		--font-content: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    	--border-n1: 1px solid light-dark(rgb(239, 243, 244), rgb(47, 51, 54)); 
		--svg-color: light-dark(#333, #fff);
		color-scheme: light dark;
		font-family: var(--font-content);
		background-color: light-dark(#fff, #1a1a1a);
	}
	html {
		display: flex;
		place-content: center;
		scroll-behavior: smooth;

		&.dark {
			color-scheme: dark;
		}
		&.light {
			color-scheme: light;
		}
		
		@media (prefers-reduced-motion: reduce) {
			scroll-behavior: inherit;
		}
	}
	body {
		margin: 0;
		padding: clamp(16px, 8vw, 32px);
		width: min(700px, 90%);
		border-inline: var(--border-n1);
	}
	h2 {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 20px;
		color: light-dark(#0F1419, #E7E9EA);
	}
	h3 {
		font-size: 1.5rem;
		font-weight: bold;
	}
	strong {
		color: var(--green);
	}
</style>
<script>
	const sections = document.querySelectorAll("section");
	const navLinks = document.querySelectorAll("nav a");
	window.onscroll = () => {
		sections.forEach((sect) => {
			let top = window.scrollY;
			let offset = sect.offsetTop;
			let height = sect.offsetHeight;
			let id = sect.getAttribute("id");

			if (top >= offset && top < offset + height) {
				navLinks.forEach((links) => {
					links.classList.remove("active");
					const activeLink = document.querySelector("nav a[href*=" + id + "]");
					if (activeLink) {
						activeLink.classList.add("active");
					}
				});
			}
		});
	};
</script>