---
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" href={`/favicon.svg`} type="image/svg+xml">
		<meta name="google-site-verification" content="l0My55aihzJm_JtopsqJ5AvG-_KkYURzqQy3B03_UUE" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="FuSoraS"/>
		<meta name="twitter:title" content="FuSoraS - Portafolio"/>
		<meta name="twitter:description" content="Desarrollo web, Fron-end, Soporte tecnico"/>

		<meta property="og:title" content="FuSoraS - Portafolio">
		<meta property="og:image" content="https://fusoras.is-a.dev/og.jpg">
		<meta property="og:description" content="Desarrollo web, Fron-end, Soporte tecnico">
		<meta property="og:url" content="https://fusoras.is-a.dev/"/>
		<meta property="og:locale" content="es_ES" />

		<meta name="description" content={`${description}`}>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0 auto;
		width: min(700px, 90%);
		font-family: 'Lato', system-ui, -apple-system, sans-serif;
	}
	@font-face {
	font-family: "Lato";
	src: url(../assets/font/webfonts/lato-latin-400-normal.woff) format(woff2);
	font-weight: 400;
}
</style>
