---
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={`/favicon.svg`} type="image/svg+xml">
		<meta name="google-site-verification" content="l0My55aihzJm_JtopsqJ5AvG-_KkYURzqQy3B03_UUE" />
		<meta name="description" content={`${description}`}>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0 auto;
		width: min(700px, 90%);
		height: 100%;
		font-family: 'Lato', system-ui, -apple-system, sans-serif;
	}
	@font-face {
	font-family: "Lato";
	src: url(../assets/font/webfonts/lato-latin-400-normal.woff) format(woff2);
	font-weight: 400;
}
</style>
